* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  font-family: "Libre Baskerville", serif;
}

body {
  background-color: black;
  color: rgba(255, 255, 255, 0.896);
  position: relative;
}

.container {
  background-color: #0e0e0e;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.8rem;
  box-sizing: border-box;
}

.pos-rel {
  position: relative;
}

.d-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.jc-evenly {
  justify-content: space-evenly;
}

.jc-flex-start {
  justify-content: flex-start;
}

.h-100 {
  height: 100vh;
}

.blue {
  color: #1976d2;
}

.align-center {
  align-items: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.link {
  text-decoration: none !important;
  color: white;
}

.ml-4 {
  margin-left: 4rem;
}

.mv-1 {
  margin: 1rem 0;
}

.jc-end {
  justify-content: end;
}

.mr-2 {
  margin-right: 2rem;
}

.m-2 {
  margin: 0.5rem;
}

.pv-2 {
  padding: 2rem 0;
}

.mv-1 {
  margin: 1rem 0;
}

.ml-2 {
  margin-left: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.preloader {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 2;

  .icon {
    position: relative !important;
    width: 800px;
    aspect-ratio: 1.7777777778;
    transform: scale(0.2);
    transition: transform 250ms;
  }
}

.watchlist-alert {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  opacity: 1;
  .text {
    font-size: 18px;
    padding: 1rem;
    border-radius: 0.5rem;
    background: white;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  }
}

/* Content-Wrapper */
.contentWrapper {
  margin-left: 15vw;
}
.centerWrapper {
  margin: 0rem 25vw;
}

.content-heading {
  position: relative;
  background-color: #47474739;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.content-heading h1 {
  text-align: center;
  font-size: 36px;
}


@media only screen and (max-width: 600px) {
  .contentWrapper {
    margin-left: 13vw;
  }
  .centerWrapper {
    margin: 0rem 2vw;
  }
}
