@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Libre+Baskerville&display=swap");

body {
  background: black;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.896);
  position: relative;
  font-family: "Comfortaa", sans-serif;
  font-family: "Libre Baskerville", serif;
  box-sizing: border-box;
}

.container {
  background-color: #0e0e0e;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.8rem;
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.main-content {
  flex: 1;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.pos-rel {
  position: relative;
}

.blue {
  color: rgb(3, 128, 253);
}

.f-wrap {
  flex-wrap: wrap;
}

.mb-5 {
  margin-bottom: 5rem;
}

.w-100 {
  width: 100vw;
}

.h-100 {
  height: 100vh;
}

.mt-10 {
  margin-top: 10rem;
}

.jc-center {
  justify-content: center;
}

.jc-evenly {
  justify-content: space-evenly;
}

.jc-around {
  justify-content: space-around;
}

.jc-between {
  justify-content: space-between;
}

.jc-start {
  justify-content: flex-start;
}

.link {
  text-decoration: none;
}

.content-heading {
  position: relative;
  background-color: #47474739;
  padding: 0.25rem 0rem;
  margin-bottom: 5rem;
  border-radius: 0.5rem;
}

.content-heading h1 {
  text-align: center;
  font-size: 36px;
}

.plan-heading {
  box-sizing: border-box;
  padding: 2rem 1rem;
  margin: 0.5rem 1rem;
  width: 20%;
  font-weight: bolder;
  background-color: black;
  color: #1976d2;
  text-align: center;
  border-radius: 0.5rem;
}

.subscription-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 4rem;
  padding: 2rem;
}

.subscription-card {
  position: relative;
  background-color: black;
  padding: 2rem;
  margin: 0 1rem 1rem 1rem;
  width: 25rem;
  box-sizing: border-box;
  border-radius: 0.5rem;

  .plan-name {
    padding: 0.25rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
  }
  .plan-name h2 {
    text-align: center;
  }
  .quality-icon {
    font-size: 40px;
    margin-top: 0.5rem;
  }
  .btn {
    font-size: 16px;
  }
}

.subscription-card ul {
  list-style: none;
  padding: 0;
  .icon {
    font-size: 50px;
    margin: 0.5rem;
  }
}
.subscription-card ul .benefits {
  margin: 1rem 0;
  text-align: center;
  content: "✓ ";
}

.subscription-card ul .benefits::before {
  content: "✓ ";
}

.nav {
  flex-direction: column;
  position: sticky;
  box-sizing: border-box;
  top: 0;
  height: 100vh;
  max-width: 30vw;
  display: flex;
  justify-content: space-between;
}

.nav hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nav .nav-user {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 0.5rem;
}

.nav .nav-icon {
  display: flex;
  justify-content: center;
}

.nav .nav-user .user-icon {
  font-size: 70px;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  transition: transform 0.25s ease-in;
}

.nav .nav-user .user-icon:hover {
  transform: scale(1.1);
}

.nav .nav-user .user-name h3 {
  font-size: 25px;
}

.nav .nav-list {
  margin: 0;
  padding: 0;
}

.nav .nav-list a {
  text-decoration: none;
}

.nav .nav-list .nav-item {
  list-style-type: none;
  margin: 0.5rem 0;
  background-color: #42434420;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  cursor: pointer;
}

.nav .nav-list .nav-item div {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.nav .nav-list .nav-item .icon-div {
  align-items: center;
}

.nav .nav-list .nav-item .icon-value {
  color: rgba(255, 255, 255, 0.6);
}

.nav .nav-list .nav-item:hover {
  background-color: #1976d2;
  border-radius: 0.5rem;
  .icon-div .icon {
    color: rgba(255, 255, 255);
  }
  .icon-value {
    color: rgba(255, 255, 255);
  }
}

.nav .nav-list .nav-item .icon-div .icon {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
}

.c-pointer {
  cursor: pointer;
}

.search-card {
  cursor: pointer;
  min-height: 15rem;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin: 1rem;
  color: rgba(255, 255, 255, 0.9) !important;
}

.search-card h3 {
  margin: 0;
}

.search-bar {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  position: relative;

  .searchInputs {
    position: relative;
    width: 100%;
  }
  .searchInputs .text {
    border-radius: 0.5rem;
    padding: 1rem 5rem;
    height: 4rem;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
  }

  .searchInputs .text::placeholder {
    text-indent: 10px;
  }

  .searchIcon {
    .icon {
      color: #393939;
      font-size: 50px;
    }
    position: absolute;
    top: 12.5%;
    left: 1%;
  }

  .dataResult {
    position: absolute;
    top: 75%;
    left: 5%;
    width: 90%;
    height: 16rem;
    background-color: white;
    color: #121212;
    border-radius: 0.5rem;
    overflow: hidden;
    overflow-y: auto;
  }

  .dataResult::-webkit-scrollbar {
    display: none;
  }

  .dataResult .result-div a {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    padding: 0 1rem;
    color: #121212;
  }

  .dataResult .result-div:hover {
    background-color: #1212120f;
  }

  .dataResult .item {
    padding: 0rem 4rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .dataResult .item h4 {
    text-align: center;
  }
}

.mb-2 {
  margin-bottom: 2rem;
}

.d-inline {
  display: inline;
}

.auth-card {
  background-color: black;
  border-radius: 0.5rem;
  padding: 2.5rem 4rem;
  box-sizing: border-box;
  min-width: 30rem;
  color: rgba(255, 255, 255, 0.842);

  .hr {
    margin-bottom: 3rem;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .logo img {
    width: 100px;
  }
  .logo h1 {
    flex: 1;
    margin-left: 0.5rem;
  }
  .input-label {
    display: block;
    width: 100%;
    margin: 1.25rem 0rem;
    font-size: large;
    font-weight: bold;
  }
  .input-value {
    width: 100%;
    background-color: #121212;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 2rem;
    font-size: large;
    color: white;
  }
  .input-value::placeholder {
    text-indent: 10px;
  }
  .highlight {
    text-align: end;
  }
  .highlight a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.74);
  }
  .highlight a:hover {
    color: rgba(255, 255, 255, 0.9);
  }

  .btn {
    font-size: large;
  }
}

.watch {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  .img {
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
    box-sizing: border-box;
    opacity: 0.5;
  }

  .cover {
    border: 2px solid white;
    border-radius: 1.25rem;
  }

  .cover img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-sizing: border-box;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(
      90deg,
      rgb(18, 17, 17, 1) 0%,
      rgba(28, 27, 27, 0.5) 75%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 0.25rem;
    z-index: 1;
  }

  .info {
    margin-bottom: 1rem;
  }

  .info h3 {
    margin-right: 1rem;
  }

  .movie-info {
    position: absolute;
    bottom: 5%;
    left: 5%;
    max-width: 30vw;
    z-index: 1;
  }

  .movie-info h1 {
    font-weight: 900;
    text-align: center;
    font-size: 40px;
  }

  .watch-btn {
    font-size: 36px;
    margin-right: 1.5rem;
    padding: 0 4rem;
  }
  .side-btn .btn {
    color: #1976d2;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 50%;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255);
  }

  .hover {
    position: absolute;
    background-color: white;
    color: #1976d2;
    padding: 1rem;
    top: -65%;
    right: 10%;
    border-radius: 0.5rem;
    visibility: hidden;
  }

  .side-btn:hover {
    .hover {
      visibility: visible;
    }
  }

  .more-details {
    z-index: 1;
    color: white;
    position: absolute;
    top: 20%;
    right: 5%;

    .content {
      margin-left: 1rem;
    }

    .lang {
      margin: 0rem 1rem;
    }
  }
}

.similar-content h2 {
  margin: 5rem 0rem 2rem 2rem;
}

.row-container {
  box-sizing: border-box;
  margin: 1rem 0;
}

.heading-div {
  display: flex;
  justify-content: space-between;
}

.row-heading {
  margin-bottom: 1rem;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.row-heading:hover {
  color: white;
}

.show-all {
  margin-right: 2rem;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  text-decoration: none;
}

.show-all:hover {
  color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.movie-card {
  transition: transform 0.5s ease-in-out;
  position: relative;
  margin: 1rem;

  .card-upper {
    width: 21rem;
    img {
      display: block;
      width: 100%;
      height: 12rem;
      object-fit: cover;
      border-radius: 0.5rem;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }

    .btn-container {
      display: flex;
      position: absolute;
      bottom: 5%;
      left: 5%;
      visibility: hidden;

      .watch-btn {
        font-size: 16px !important;
        font-weight: bold !important;
        border-radius: 0.25rem !important;
      }

      .add-btn .btn {
        color: #1976d2;
        min-width: 0.5rem;
        min-height: 0.5rem;
        border-radius: 50%;
        padding: 0.5rem;
        background-color: rgba(255, 255, 255);
      }

      .hover {
        position: absolute;
        background-color: white;
        color: #1976d2;
        padding: 0.5rem;
        width: 5rem;
        font-size: 12px;
        bottom: 100%;
        border-radius: 0.5rem;
        visibility: hidden;
      }

      .add-btn:hover {
        .hover {
          visibility: visible;
        }
      }
    }
  }
}

.movie-card .card-lower {
  padding: 0.5rem 1.5rem;
  display: none;
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  .info {
    padding: 0;
    margin: 0;
  }
}

.movie-card .card-lower h3 {
  color: rgb(255, 255, 255);
  margin: 0;
}

.movie-card:hover {
  transform: scale(1.1);
  z-index: 10;
  .card-lower {
    display: block;
    background-color: rgba(12, 12, 12, 0.95);
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }
  .card-upper img {
    opacity: 0.5;
  }

  .card-upper .btn-container {
    visibility: visible;
  }
}
