.slider-container {
  margin-bottom: 5rem;
}

.swiper {
  width: 81.65vw;
  height: 80vh;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
  transition: opacity 0.25s ease;
}

.slider-info-container {
  position: absolute;
  max-width: 30vw;
  bottom: 4%;
  left: 5%;
  visibility: hidden;
}

.slider-btn-container {
  margin-top: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  visibility: hidden;
  .add-btn {
    position: relative;
    .btn {
      color: #1976d2;
      min-width: 3rem;
      min-height: 3rem;
      border-radius: 50%;
      padding: 0.5rem;
      background-color: rgba(255, 255, 255);
    }
    .add-to-watchlist {
      position: absolute;
      background-color: white;
      color: #1976d2;
      padding: 1rem;
      top: -75%;
      right: -60%;
      border-radius: 0.25rem;
      width: 9rem;
      visibility: hidden;
      font-size: 18px;
    }
  }

  .add-btn:hover {
    .add-to-watchlist {
      visibility: visible;
    }
  }

  .watch-btn {
    min-width: 10rem !important;
    min-height: 3rem;
    font-size: 24px !important;
    font-weight: bold !important;
    border-radius: 0.5rem !important;
    padding: 1rem 2rem !important;
    z-index: 1;
  }
}

.slider-container:hover {
  .info {
    color: white;
  }

  .info h1 {
    text-align: center;
  }

  .info h3 {
    text-align: left;
  }

  .swiper-slide img {
    opacity: 0.1;
  }

  .slider-info-container {
    visibility: visible;
  }

  .slider-btn-container {
    visibility: visible;
  }
}
