.row-container {
  box-sizing: border-box;

  .heading {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;

    .text {
      opacity: 0.85;
      font-size: 28px;
      font-weight: 900;
      text-transform: capitalize;
    }

    .show-all {
      opacity: 0.75;
      font-size: 18px;
      color: white;
      text-decoration: underline;
    }
  }
}

.movie-list {
  padding: 2rem 0 !important;
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 20px;
    width: 40px;
    height: 40px;
    --swiper-navigation-color: white;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    margin-bottom: 5rem !important;
  }
}

.slide {
  transition: transform 0.5s ease-out;
  z-index: 0;
  width: 23rem;
  height: 17rem;
  position: relative;

  .img {
    width: 23rem;
    height: 13rem;
    border-radius: 0.5rem;
  }

  .title {
    margin: 0.5rem 1rem;
    opacity: 0.85;
    text-align: center;
    font-size: larger;
  }

  .release-date {
    margin: 0rem 1rem;
    opacity: 0.75;
    text-align: center;
    font-size: large;
  }

  .episode-number {
    margin-top: 0.5rem;
    opacity: 0.75;
  }

  .btn-container {
    position: absolute;
    display: flex;
    visibility: hidden;
    align-items: center;
    left: 2%;
    bottom: 25%;
  }

  .add-btn {
    position: relative;

    .watch-btn {
      font-weight: bold !important;
      border-radius: 0.15rem !important;
    }

    .add-icon {
      color: #1976d2;
      min-width: 2.5rem;
      min-height: 2.5rem;
      border-radius: 50%;
      padding: 0.25rem;
      background-color: rgba(255, 255, 255);
    }

    .add-to-watchlist {
      position: absolute;
      background-color: white;
      color: #1976d2;
      padding: 0.5rem;
      border-radius: 0.25rem;
      width: 8rem;
      bottom: 100%;
      margin-bottom: 0.5rem;
      visibility: hidden;
      font-size: 12px;
    }
  }

  .add-btn:hover {
    .add-to-watchlist {
      visibility: visible;
    }
  }
}

.slide:hover {
  .btn-container {
    visibility: visible;
  }
  .img {
    opacity: 0.5 !important;
  }
}

.circleRating {
  position: absolute;
  background-color: white;
  bottom: 28%;
  right: 4%;
  border-radius: 50%;
  width: 3rem;
}

@media only screen and (max-width: 600px) {
  .row-container {
    box-sizing: border-box;
    margin: 0 0;

    .heading {
      font-weight: bold;
      margin-left: 0.5rem;
      margin-top: 2rem;
      margin-bottom: 0;

      .text {
        opacity: 0.85;
        font-size: 20px;
        font-weight: 300;
      }

      .show-all {
        font-size: 12px;
      }
    }
  }
  .movie-list {
    padding: 1rem 0 !important;

    .swiper-button-next,
    .swiper-button-prev {
      font-size: 25px;
      width: 10px;
      height: 10px;
      --swiper-navigation-color: white;
      background-color: transparent;
      transition: background-color 0.3s ease;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
      margin-bottom: 2rem !important;
    }
  }

  .slide {
    width: 10rem;
    height: 18rem;

    .img {
      width: 10rem;
      height: 15rem;
      border-radius: 0.5rem;
    }

    .btn-container {
      visibility: visible;
      left: 4%;
      bottom: 18%;
    }

    .title {
      font-size: 16px;
      font-weight: 300;
      margin: 0;
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;
    }

    .release-date {
      font-size: 14px;
      margin: 0;
      font-weight: 100;
    }

    .add-btn {
      .watch-btn {
        font-weight: bold !important;
        border-radius: 0.15rem !important;
      }

      .add-icon {
        min-width: 1.5rem;
        min-height: 1.5rem;
        border-radius: 50%;
        padding: 0.25rem;
      }
    }

    .add-btn:hover {
      .add-to-watchlist {
        visibility: hidden;
      }
    }
  }

  .circleRating {
    background-color: white;
    bottom: 85%;
    right: 2%;
    width: 2rem;
  }

  .css-jh47zj-MuiButtonBase-root-MuiButton-root {
    width: 1rem !important;
    padding: 0 !important;
    height: 2rem !important;
    font-size: 0.5rem !important;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .slide {
    width: 13rem;
    height: 10rem;

    .img {
      width: 13rem;
      height: 8rem;
      border-radius: 0.5rem;
    }

    .btn-container {
      left: 4%;
      bottom: 20%;
    }

    .title {
      font-size: 12px;
      margin: 0;
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;
    }

    .release-date {
      font-size: 10px;
    }

    .add-btn {
      .add-icon {
        min-width: 1rem;
        min-height: 1rem;
      }
      .add-to-watchlist {
        width: 5rem;
        bottom: 90%;
        margin-bottom: 0rem;
        font-size: 8px;
      }
    }
  }

  .circleRating {
    bottom: 78%;
    right: 2%;
    width: 2rem;
  }

  .css-jh47zj-MuiButtonBase-root-MuiButton-root {
    height: 1.5rem !important;
    font-size: 0.5rem !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .row-container {
    .heading {
      margin-right: 1rem;
      margin-left: 1rem;
      .text {
        opacity: 0.85;
        font-size: 20px;
        font-weight: 500;
      }

      .show-all {
        font-size: 12px;
      }
    }
  }
  .slide {
    width: 15rem;
    height: 11rem;

    .img {
      width: 15rem;
      height: 9rem;
      border-radius: 0.5rem;
    }

    .btn-container {
      left: 2%;
      bottom: 18%;
    }

    .title {
      font-size: 12px;
      margin: 0;
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;
    }

    .release-date {
      font-size: 10px;
    }

    .add-btn {
      .add-icon {
        min-width: 1.5rem;
        min-height: 1.5rem;
      }
      .add-to-watchlist {
        width: 6rem;
        margin-bottom: 0rem;
        font-size: 10px;
      }
    }
  }

  .circleRating {
    bottom: 78%;
    right: 2%;
    width: 2rem;
  }

  .css-jh47zj-MuiButtonBase-root-MuiButton-root {
    height: 1.8rem !important;
    font-size: 0.5rem !important;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1699px) {
  .row-container {
    .heading {
      margin-right: 1rem;
      margin-left: 1rem;
      .text {
        opacity: 0.85;
        font-size: 22px;
        font-weight: 500;
      }

      .show-all {
        font-size: 14px;
      }
    }
  }
  .slide {
    width: 19rem;

    .img {
      width: 19rem;
      height: 11rem;
      border-radius: 0.5rem;
    }

    .btn-container {
      left: 4%;
      bottom: 35%;
    }

    .title {
      font-size: 16px;
      font-weight: 300;
      margin: 0;
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;
    }

    .release-date {
      font-size: 16px;
      margin: 0;
      font-weight: 100;
    }

    .add-btn {
      .add-icon {
        min-width: 1.8rem;
        min-height: 1.8rem;
      }
      .add-to-watchlist {
        width: 7rem;
        margin-bottom: 0rem;
      }
    }
  }

  .circleRating {
    bottom: 87%;
    right: 2%;
    width: 2rem;
  }

  .css-jh47zj-MuiButtonBase-root-MuiButton-root {
    height: 2rem !important;
    font-size: 0.65rem !important;
  }
}

@media only screen and (min-width: 1700px) and (max-width: 1919px) {
  .row-container {
    .heading {
      margin-right: 2rem;
      .text {
        opacity: 0.85;
        font-size: 24px;
        font-weight: 500;
      }

      .show-all {
        font-size: 16px;
      }
    }
  }
  .slide {
    width: 22rem;

    .img {
      width: 22rem;
      height: 14rem;
      border-radius: 0.5rem;
    }

    .btn-container {
      left: 4%;
      bottom: 18%;
    }

    .title {
      font-size: 16px;
      font-weight: 300;
      margin: 0;
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;
    }

    .release-date {
      font-size: 16px;
      margin: 0;
      font-weight: 100;
    }

    .add-btn {
      .add-icon {
        min-width: 1.8rem;
        min-height: 1.8rem;
      }

      .add-to-watchlist {
        margin-bottom: 0rem;
      }
    }
  }

  .circleRating {
    bottom: 87%;
    right: 2%;
    width: 2rem;
  }

  .css-jh47zj-MuiButtonBase-root-MuiButton-root {
    height: 2rem !important;
    font-size: 0.75rem !important;
  }
}
