.row-container {
  box-sizing: border-box;
  margin: 0 2rem;

  .heading {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;

    .text {
      opacity: 0.85;
      font-size: 32px;
      font-weight: 900;
      text-transform: capitalize;
    }

    .show-all {
      opacity: 0.75;
      font-size: 18px;
      color: white;
      text-decoration: underline;
    }
  }
}

.movie-list {
  padding: 2rem 0 !important;

  .swiper-button-next,
  .swiper-button-prev {
    font-size: 20px;
    width: 40px;
    height: 40px;
    --swiper-navigation-color: white;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    margin-bottom: 5rem !important;
  }
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0rem !important;
}

.slide {
  transition: transform 0.5s ease-out;
  z-index: 0;
  width: 28rem;
  height: 20rem;
  position: relative;

  .img {
    width: 28rem;
    border-radius: 0.5rem;
  }

  .title {
    margin: 0.5rem 1rem;
    opacity: 0.85;
    text-align: center;
    font-size: larger;
  }

  .release-date {
    margin: 0rem 1rem;
    opacity: 0.75;
    text-align: center;
    font-size: large;
  }

  .btn-container {
    position: absolute;
    display: flex;
    visibility: hidden;
    align-items: center;
    left: 4%;
    bottom: 25%;
  }

  .add-btn {
    position: relative;

    .watch-btn {
      font-weight: bold !important;
      border-radius: 0.15rem !important;
    }

    .add-icon {
      color: #1976d2;
      min-width: 2.5rem;
      min-height: 2.5rem;
      border-radius: 50%;
      padding: 0.25rem;
      background-color: rgba(255, 255, 255);
    }

    .add-to-watchlist {
      position: absolute;
      background-color: white;
      color: #1976d2;
      padding: 0.5rem;
      border-radius: 0.25rem;
      width: 8rem;
      bottom: 100%;
      margin-bottom: 0.5rem;
      visibility: hidden;
      font-size: 12px;
    }
  }

  .add-btn:hover {
    .add-to-watchlist {
      visibility: visible;
    }
  }
}

.slide:hover {
  .btn-container {
    visibility: visible;
  }
  .img {
    opacity: 0.5 !important;
  }
}

.circleRating {
  position: absolute;
  background-color: white;
  bottom: 25%;
  right: 8%;
  border-radius: 50%;
  width: 3rem;
}

@media only screen and (max-width: 600px) {
  .row-container {
    box-sizing: border-box;
    margin: 0 0;

    .heading {
      font-weight: bold;

      .text {
        opacity: 0.85;
        font-size: 20px;
        font-weight: 300;
      }

      .show-all {
        font-size: 12px;
      }
    }
  }
  .movie-list {
    padding: 1rem 0 !important;

    .swiper-button-next,
    .swiper-button-prev {
      font-size: 25px;
      width: 10px;
      height: 10px;
      --swiper-navigation-color: white;
      background-color: transparent;
      transition: background-color 0.3s ease;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
      margin-bottom: 2rem !important;
    }
  }

  .swiper-slide {
    margin: 0.25rem !important;
  }

  .slide {
    width: 7rem;
    height: 15rem;

    .img {
      width: 7rem;
      height: 11rem;
      border-radius: 0.5rem;
    }

    .btn-container {
      visibility: visible;
      left: 4%;
      bottom: 27%;
    }

    .title {
      font-size: 12px;
      font-weight: 300;
      margin: 0;
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;
    }

    .release-date {
      font-size: smaller;
      margin: 0;
      font-weight: 100;
      font-size: 12px;
    }

    .add-btn {
      position: relative;

      .watch-btn {
        font-weight: bold !important;
        border-radius: 0.15rem !important;
      }

      .add-icon {
        min-width: 1.5rem;
        min-height: 1.5rem;
        border-radius: 50%;
        padding: 0.25rem;
        background-color: rgba(255, 255, 255);
      }
    }

    .add-btn:hover {
      .add-to-watchlist {
        visibility: hidden;
      }
    }
  }

  .add-btn:hover {
    .add-to-watchlist {
      visibility: hidden !important;
    }
  }

  .circleRating {
    background-color: white;
    bottom: 85%;
    right: 2%;
    border-radius: 50%;
    width: 2rem;
  }

  .css-jh47zj-MuiButtonBase-root-MuiButton-root {
    width: 1rem !important;
    padding: 0 !important;
    height: 2rem !important;
    font-size: 0.5rem !important;
  }
}
