.row-container {
  box-sizing: border-box;
  margin: 0 2rem;
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    font-weight: bold;
    .text {
      opacity: 0.85;
      font-size: 24px;
      font-weight: 900;
      text-transform: capitalize;
    }
    .show-all {
      opacity: 0.75;
      font-size: 18px;
    }
  }
}

.movie-list {
  padding: 2rem 0 !important;
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 20px; /* Adjust the font size as needed */
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    --swiper-navigation-color: white;
    background-color: transparent; /* Set the initial background color to transparent */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    margin-bottom: 5rem !important;
  }
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0.5rem !important;
}

.slide {
  transition: transform 0.5s ease-out;
  z-index: 0;
  width: 20rem;
  .img {
    width: 20rem;
    border-radius: 0.5rem;
    position: relative;
  }

  .btn-container {
    display: flex;
    position: absolute;
    bottom: 7.5%;
    left: 5%;
    visibility: hidden;

    .watch-btn {
      font-size: 12px !important;
      font-weight: bold !important;
      border-radius: 0.25rem !important;
    }

    .add-btn .btn {
      color: #1976d2;
      min-width: 2.5rem;
      min-height: 2.5rem;
      border-radius: 50%;
      padding: 0.25rem;
      background-color: rgba(255, 255, 255);
    }

    .hover {
      position: absolute;
      background-color: white;
      color: #1976d2;
      padding: 0.5rem;
      width: 5rem;
      font-size: 12px;
      bottom: 100%;
      border-radius: 0.5rem;
      visibility: hidden;
    }

    .add-btn:hover {
      .hover {
        visibility: visible;
      }
    }
  }

  .rating {
    position: absolute;
    right: 5%;
    bottom: 5%;
  }

  .title {
    margin: 0.5rem 1rem;
    opacity: 0.85;
  }
  .release-date {
    margin: 0rem 1rem;
    opacity: 0.75;
  }
}

.slide:hover {
  transform: scale(1.15);
  z-index: 1;
  .btn-container {
    visibility: visible;
  }
}

.circleRating {
  background-color: white;
  border-radius: 50%;
  width: 3rem;
}
