.resultNotFound {
  font-size: 24px;
  color: black;
}

.filters {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 2rem;
}

.filters .react-select-container .react-select__control {
  border: 0;
  outline: 0;
  box-shadow: none;
  background-color: black;
  border-radius: 20px;
  min-width: 15rem;
}

.content {
  overflow: hidden !important;
  box-sizing: border-box !important;
}


.react-select__menu-list {
  background: white;
  color: black;
}

.react-select__option--is-focused {
  background: #1212120f !important;
}

.react-select__option--is-selected {
  background: #1212120f !important;
}

.react-select__multi-value {
  background-color: #1976d2 !important;
  border-radius: 2rem !important;
}
